@media print {
  html,
  body {
    background: #fff;
    color: #000;
    font-family: serif, Georgia, "Times New Roman", Times, Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
  }

  main,
  article,
  section,
  .main,
  .gallery,
  .info-blocks {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
  }

  header,
  nav,
  aside,
  .sidebar,
  .hero-banner,
  .main-nav,
  .header-container {
    display: none;
  }

  img,
  figure img,
  .gallery img {
    display: block;
    width: 420px;
    height: 260px;
    object-fit: cover;
    margin: 1.5em auto;
    background: none;
    box-shadow: none;
    border: none;
    max-width: 100%;
    max-height: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #000 t;
    font-size: 11pt;
    margin-bottom: 1em;
    table-layout: auto;
    box-sizing: border-box;
    word-break: initial;
    overflow-x: auto;
  }
  th,
  td {
    border: 1px solid #222;
    padding: 0.3em 0.7em;
    background: #fff t;
    color: #000;
    font-weight: normal;
    word-break: normal;
    min-width: 0;
  }
  th {
    font-weight: bold;
    background: #eee;
  }

  ul,
  ol {
    margin-left: 1.5em;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-weight: bold;
    margin: 0.7em 0 0.4em 0;
    font-family: inherit;
    page-break-after: avoid;
  }

  a,
  a:visited {
    color: #000;
    text-decoration: underline;
  }
  a:after {
    content: "";
  }

  * {
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  footer,
  .footer,
  #footer {
    font-size: 10pt;
    color: #444 !important;
    border-top: 1px solid #aaa;
    padding: 0.7em 0;
    text-align: center;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
  }

  button,
  input,
  select,
  textarea,
  .btn,
  .button,
  form {
    display: none;
  }
}
